@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('/images/back.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  direction: rtl;
  font-family:yekan!important ;
}
.highcharts-credits{
  display: none!important ;
}
.highcharts-title{
  font-family:yekan!important ;
}
@font-face {
  font-family: ziba;
  src: url('/fonts/BZiba.ttf');
  
}
@font-face {
  font-family: yekan;
  src: url('/fonts/BYekan.ttf');
  font-display: block;
}
@font-face {
  font-family: mehr;
  src: url('/fonts/BMehrBold.ttf');
  font-display: block;
}
@font-face {
  font-family:nazanin ;
  src: url('/fonts/BNazanin.ttf');
  font-display: block;
}

input{
  height:45px !important ;
  border: 1px solid rgba(214, 214, 214, 0.777);
  padding : 0 10px !important;
}
textarea{
  min-height: 100px !important;
  padding: 10px !important;
  

}
